<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <link rel="icon" type="image/png" href="/static/favicon.png">
        <meta name="theme-color" content="#f5ede4">
        <meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=5,user-scalable=yes">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <meta charset="utf-8">
        <title>Hannah Baldwin's personal site</title>
        <style>
        @import url(/static/main.css);
        </style>
    </head>
    <body>
        <nav>
            <div class="inline-text-list">
                <a href="/">Home</a>
                <a href="https://github.com/habaldwin01">GitHub</a>
                <a href="https://orcid.org/0009-0000-4611-8758">OrcID</a>
                
            </div>
        </nav>
        
{% block content %}
<main>
    <span class="letterhead-vertical-space"></span>
    <h1>Template missing</h1>
    <p>This page is currently broken :(</p>
    <span class="aft-letterhead-vertical-space"></span>
</main>
{% endblock %}

        <footer>
            <div class="inline-text-list">
                <span>&copy; Hannah Baldwin MMXXVI</span> <span><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">CC BY-NC-SA 4.0</a></span>
            </div>
            <div class="inline-text-list">
                <span>For all enquiries: <a href="mailto:change.me.to.contact.if.you.are.human@hannahbaldwin.net">contact@hannahbaldwin.net</a></span>
            </div>
        </footer>
    </body>
</html>
