{% extends "base.jinja.html" %}

{% block title %}Hannah's personal site{% endblock %}
        
{% block content %}
<main>
    <h1>Hannah Baldwin</h1>
    <p>
        Shwmae! I'm a Research Software Engineer based at the UK's National Oceanography Centre. My research interests include embedded computing, computer vision and bioinformatics. I'm currently working on real-time organism identification and tracking for autonomous undersea vehicles, alongside shipboard systems for rapid, automated plankton identification.
    </p>

    <h2>Quick links to other places</h2>
    <ul>
        <li><a href="https://github.com/habaldwin01">github.com/habaldwin01</a></li>
        <li><a href="https://orcid.org/0009-0000-4611-8758">orcid.org/0009-0000-4611-8758</a></li>
    </ul>
</main>
{% endblock %}
            
        

